body{
	background-color: gray;
}

input{
	text-align: center;

}

img{
	background-color: red;
	position:;
	margin-top: 25px;
	margin-bottom: 40px;
	max-height: 10em;
	margin-left: 33%;
	margin-right: auto;

}


